.container {
    width: 50%;
    border-radius: 5px;
    background-color: #959595;
    padding: 20px;
    margin: auto;
    align-items: center;
  }
  input[type="number"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4d4c4c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #000000;
  }